simpletransformers
evalml==0.17.0
jsonnet>=0.13.0
jsonpickle>=1.2
jsonschema>=3.0.1
jupyter>=1.0.0
nltk>=3.4.3
pandas<1.2.0,>=1.1.0
tqdm<4.50.0,>=4.27
numpydoc>=0.9.1
regex>=2019.6.8
seaborn>=0.9.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
tensorflow-hub==0.4.0

